@use 'sass:map';

// Theme Colors
$custom-theme-colors: (
  "primary": #154747,
  "secondary": #ffd0ad,
  "tertiary": #f8f1e3,
  "muted": #6c757d,
  "grey": #6b6b6b,
  "white": #ffffff,
  "light-white": #ebebeb,
  "light-grey-10": rgba(21, 71, 71, 0.1),
  "yellow": #ffcd00,
  "blue": rgb(20, 104, 160)
);
@function color($key) {
  @return map.get($custom-theme-colors, $key);
}

// Aspect Ratios
$custom-aspect-ratios: (
  "unset": "unset"
);
@function aspect-ratio($key) {
  @return map.get($custom-aspect-ratios, $key);
}

// Background
$custom-background: (
  footer: color('primary') url("../../images/footer-bg.png") top left no-repeat,
  none: 'none'
);
@function background($key) {
  @return map.get($custom-background, $key);
}

// Border
$custom-border: (
  none: none
);
@function border($key) {
  @return map.get($custom-border, $key);
}

// Border Radius
$custom-border-radius: (
  6: 0.375rem,
  120: 7.5rem
);
@function border-radius($key) {
  @return map.get($custom-border-radius, $key);
}

// Content
$custom-content: (
  empty: '',
  big-arrow-right: "\e80c",
  arrow-down: "\e800",
  arrow-right: "\e801",
  stars: "\e805 \e805 \e805 \e805 \e805",
  stars-filled: "\e806 \e806 \e806 \e806 \e806"
);
@function content($key) {
  @return map.get($custom-content, $key);
}

// Container
$custom-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1260px
);
@function container-max-width($key) {
  @return map.get($custom-container-max-widths, $key);
}

// Font Family
$custom-font-family: (
  base: ('Spline Sans', system-ui, -apple-system, sans-serif),
  bitter: ('Bitter', Georgia, serif),
  blooms: ('blooms', serif)
);
@function font-family($key) {
  @return map.get($custom-font-family, $key);
}

// Font Sizes
$font-sizes: (
  1: 5rem,
  2: 4rem,
  3: 3rem,
  4: 2rem,
  5: 1.5rem,
  6: 1rem,
  7: 0.4375rem,
  12: 0.75rem,
  13: 0.8125rem,
  14: 0.875rem,
  16: 1rem,
  17: 1.0625rem,
  24: 1.5rem
);
@function font-size($key) {
  @return map.get($font-sizes, $key);
}

// Gutters
$custom-gutters: (
  30: 30px,
);
@function gutter($key) {
  @return map.get($custom-gutters, $key);
}

// Height
$custom-height: (
  0: 0,
  10: 10px,
  14: 14px,
  22: 22px,
  28: 28px,
  38: 38px,
  100: 100%
);
@function height($key) {
  @return map.get($custom-height, $key);
}

// Letter Spacing
$custom-letter-spacings: (
  '02': 0.02em,
  '05': 0.05em,
  1: 0.1em,
  2: 0.2em,
  3: 0.3em,
  normal: normal
);
@function letter-spacing($key) {
  @return map.get($custom-letter-spacings, $key);
}

// Line Height
$custom-line-height: (
  1: 1,
  100: 1,
  110: 1.1,
  170: 1.7,
  sm: 1.25,
  base: 1.75,
  lg: 2,
  '14-24': 1.714285714285714,
);
@function line-height($key) {
  @return map.get($custom-line-height, $key);
}

// Opacity
$custom-opacity: (
  1: 1,
  30: .3,
  60: .6,
  90: .9,
);
@function text-opacity($key) {
  @return map.get($custom-opacity, $key);
}
@function bg-opacity($key) {
  @return map.get($custom-opacity, $key);
}

// Pointer Events
$custom-pointer-events: (
  none: none,
  auto: auto,
  initial: initial,
);
@function pointer-events($key) {
  @return map.get($custom-pointer-events, $key);
}

// Position
$custom-position: (
  absolute: absolute,
  relative: relative
);
@function position($key) {
  @return map.get($custom-position, $key);
}

// padding, margin, left, right, bottom, top
$custom-spacers: (
  0: 0,
  1: .25rem,
  2: .5rem,
  3: 0.1875rem,
  4: 1.5rem,
  5: 0.3125rem,
  7: 0.4375rem,
  8: 0.5rem,
  'm8': -0.5rem,
  9: 0.5625rem,
  'm9': -0.5625rem,
  10: 0.625rem,
  12: 0.75rem,
  13: 0.8125rem,
  15: 0.9375rem,
  'm16': -1rem,
  18: 1.125rem,
  20: 1.25rem,
  22: 1.375rem,
  24: 1.5rem,
  25: 1.5625rem,
  27: 1.6875rem,
  28: 1.75rem,
  30: 1.875rem,
  32: 2rem,
  35: 2.1875rem,
  40: 2.5rem,
  45: 2.8125rem,
  50: 3.125rem,
  95: 5.9375rem,
  100: 100%,
  125: 7.8125rem
);
@function spacer($key) {
  @return map.get($custom-spacers, $key);
}

// Viewport Height
$custom-viewport-height: (
  25: 25vh,
  50: 50vh,
  65: 65vh,
  75: 75vh,
  100: 100vh
);
@function viewport-height($key) {
  @return map.get($custom-viewport-height, $key);
}

// Width
$custom-width: (
  10: 10px,
  66: 66px,
  100: 100%,
  180: 180px
);
@function width($key) {
  @return map.get($custom-width, $key);
}
