@use 'sass:map';

$custom-theme-colors: (
  primary: #154747,
  secondary: #ffd0ad,
  tertiary: #f8f1e3,
  muted: #6c757d,
  'white': #ffffff,
  footer-text: #ffffff,
  footer-bg: #154747,
  banner-text: #ffffff,
  hero-text: #ffffff,
  grayer: #000000,
  menu-bg: #ffffff,
  menu-item-bg: #154747,
  link-hovered: #1468A0,
  link-active: #6b6b6b,
  header-border: #ebebeb,
  header-bg: #ffffff,
  promo-bg: #154747,
  promo-text: #ffffff,
  stars-empty: #ffcd00,
  stars-filled: #ffd0ad,
  body-bg: #ffffff,
);
@function color-token($key) {
  @return map.get($custom-theme-colors, $key);
}

$custom-contrast-colors: (
  primary: white,
  secondary: primary,
  white: primary
);
@function contrast-color($key) {
  @if map-has-key($custom-contrast-colors, $key) {
    @return map.get($custom-contrast-colors, $key);
  }
  @return color-contrast($key);
}

$custom-border-radius: (
  'base': 624.9375rem
);
@function border-radius($key) {
  @return map.get($custom-border-radius, $key);
}

$custom-content: (
  big-arrow-right: "\e80c",
  arrow-down: "\e800",
  arrow-right: "\e801",
  mobile-arrow-down: "\e802",
  stars-empty: "\e805 \e805 \e805 \e805 \e805",
  stars-filled: "\e806 \e806 \e806 \e806 \e806"
);
@function content-token($key) {
  @return map.get($custom-content, $key);
}

$custom-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1260px
);

$custom-font-family: (
  base: ('Spline Sans', system-ui, -apple-system, sans-serif),
  bitter: ('Bitter', Georgia, serif),
  blooms: ('blooms', serif)
);
@function font-family-token($key) {
  @return map.get($custom-font-family, $key);
}

// Font Sizes
$custom-font-sizes: (
  13: 0.8125rem,
  14: 0.875rem,
  15: 0.9375rem,
  20: 1.25rem,
  h1: 2.25rem, // 36px
  h1-md: 2.625rem, // 42px
  h1-lg: 3.375rem, // 54px
  h2: 1.75rem, // 28px
  h2-md: 2.25rem, // 36px
  h2-lg: 2.75rem, // 44px
  h3: 1.5rem, // 24px
  h3-md: 1.75rem, // 28px
  h3-lg: 2.125rem, // 34px
  h4: 1.125rem, // 18px
  h4-md: 1.25rem, // 20px
  h4-lg: 1.75rem, // 28px
  h5: 1rem, // 16px
  h5-md: 1.125rem, // 18px
  h5-lg: 1.375rem, // 22px
  h6: 0.875rem, // 14px
  h6-md: 1rem, // 16px
  h6-lg: 1rem, // 16px
  base: 1.0625rem, // 17px
  p: 1.0625rem, // 17px
  footer: 0.875rem, // 14px
  footer-title: 1.75rem, // 28px
  footer-contact-link: 0.8125rem, // 13px
  footer-nav-links: 0.75rem, // 12px
  subfooter: 0.75rem, // 12px
  link-arrow: 0.4375rem, // 7px
  button: 0.875rem, // 14px
  dropdown: 0.875rem, // 14px
);
@function font-size($key) {
  @return map.get($custom-font-sizes, $key);
}

$custom-font-weight: (
  heading: 500,
  button: 500,
);
@function font-weight($key) {
  @return map.get($custom-font-weight, $key);
}

$custom-gutters: (
  30: 30px,
  40: 40px,
  60: 60px,
);
@function gutter($key) {
  @return map.get($custom-gutters, $key);
}

$custom-line-height: (
  170: 1.7,
  sm: 1.25,
  base: 1.75,
  lg: 2,
  p: 1.7,
  heading: 1.45,
  footer: 1,
  footer-text: 1.714285714285714,
  footer-link: 1.846153846153846,
  footer-link-arrow: 3.428571428571429,
  button: 1.428571428571429,
  dropdown-link: 1.1,
);
@function line-height($key) {
  @return map.get($custom-line-height, $key);
}

$custom-spacers: (
  2: 0.5rem,
  3: 0.1875rem,
  4: 1.5rem,
  5: 0.3125rem,
  26: 1.625rem,
  80: 5rem,
  90: 5.625rem,
  136: 8.5rem,
  '10p': 10%,
  '13p': 13%,
  default: 0.1875rem, // 3px
  footer-title: 1.5rem, // 24px
  footer-text: 2rem, // 32px
  footer-contact-link: 2rem, // 32px
  link-arrow: 0.75rem, // 12px
  heading-padding-bottom: 1rem, // 16px
  paragraph-padding-bottom: 1rem, // 16px
  button-border: 0,
  button-padding-y: 0.875rem, // 14px
  button-padding-x: 2.125rem, // 34px
  input-padding-y: 0.875rem, // 14px
  input-padding-x: 0.4375rem, // 7px
  nav-link-x: 1.25rem, // 20px
);
@function spacer($key) {
  @return map.get($custom-spacers, $key);
}

$custom-width: (
  10: 10px,
  66: 66px,
  68: 68px,
  76: 76px,
  80: 80px,
  81: 81px,
  180: 180px,
  300: 300px,
  352: 352px,
  425: 425px,
  440: 440px,
  462: 462px,
  881: 881px,
  '62p': 62%,
  100: 100%
);
